@font-face {
    font-family: 'iconfont';
    src: url('../../assets/fonts/iconfont.woff2?t=1621851528398') format('woff2'),
        url('../../assets/fonts/iconfont.woff?t=1621851528398') format('woff'),
        url('../../assets/fonts/iconfont.ttf?t=1621851528398') format('truetype');
}


[class*='cain-icon-']{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cain-icon-good:before {
    content: "\e605";
}

.icon-wendang:before {
    content: "\e606";
}

.icon-xiaoxi:before {
    content: "\e609";
}

.icon-zuojiantou:before {
    content: "\e60c";
}

.icon-jiahao:before {
    content: "\e60d";
}

.icon-zuo123131232jiantou:before {
    content: "\e613";
}